@import "tailwindcss";

@theme {
  --background: #030303;

  /* Greens */
  --color-green-50: #9eff00;
  --color-green-60: #b1ff33;
  --color-green-70: #c5ff66;
  --color-green-80: #d8ff99;
  --color-green-90: #ecffcc;
  --color-green-95: #f5ffe5;
  --color-green-97: #f9fff0;
  --color-green-99: #fdfffa;

  /* Grays */
  --color-gray-10: #191919;
  --color-gray-15: #262626;
  --color-gray-20: #333333;
  --color-gray-30: #4c4c4d;
  --color-gray-35: #59595a;
  --color-gray-40: #656567;
  --color-gray-60: #98989a;
  --color-gray-90: #e6e6e6;
}

@theme {
  --font-barlow: var(--font-barlow);
}

body {
  background: var(--background);
  color: var(--color-gray-90);
}

.container {
  @apply max-w-[1596px];
}

.primary-btn {
  @apply text-gray-15 h-[44px] cursor-pointer rounded-lg bg-green-50 px-4 text-base font-medium;
}

.secondary-btn {
  @apply border-gray-20 h-[44px] cursor-pointer rounded-lg border bg-[#242424]/60 px-4 text-base font-medium text-white;
}

.target-market {
  @apply bg-gray-15 flex items-center rounded-lg p-3 text-[18px] z-10 leading-[100%] text-white;
}

/* scrollbar styles */

* {
  scrollbar-width: thin;
  scrollbar-color: #424242#030303;
  scroll-behavior: smooth;

}